<%- include('./partials/header') %>

<h1 class="head">My Products</h1>
<% if(prods.length>0){ %>
<% for (let product of prods){ %>
<main class="card">
    <header>
        <h1><%= product.title %></h1>
    </header>
    <hr>
    <img src="<%= product.imageUrl %>" alt="product.title">
    <br>
    <h2>Rs: <%= product.price %>
        <button><a href="products/<%=product._id%>">Details</a></button>
        </h2>
    <hr>
    <p><%= product.description %></p>
</main>
<% } %>
<% }else{ %>
<h1>No products found</h1>
<% } %>

<%- include('./partials/footer') %>